<section id="about">
  <div class="container">
    <div class="row">
      <h2 class="title">About</h2>
      <div class="info">
        <div class="col-xs-12 col-md-2 col-md-push-5 image">
          <img src="../../assets/images/photo.png" alt="avatar">
        </div>
        <div class="col-xs-12 col-md-5 col-md-pull-2 goals">
          <h3>{{ goals.title }}</h3>
          <p>{{ goals.text }}</p>
        </div>
        <div class="col-xs-12 col-md-5 dreams">
          <h3>{{ dreams.title }}</h3>
          <p>{{ dreams.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
