@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";


.navbar {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  @include border-radius(100%);
  border: 0;
  margin: 0;
  padding: 15px 0;
  font-size: 16px;

  .navbar-brand {
    cursor: pointer;
  }

  .nav {
    a {
      color: $secondary-color;
      text-transform: capitalize;
      @extend .navbar-brand;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    text-align: center;
    padding: 0;

    .navbar-header {
      padding: 15px 0;
    }

    .nav {
      margin: 0 -15px;
      background: rgba(0, 0, 0, 0.7);
    }

    li {
      padding: 5px 0;
      @include transition(all, 0.1s);

      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .navbar {
    font-size: 18px;
  }
}

